<table class="table">
    <thead>
        <th> Name </th>
        <th> Unit </th>
        <th> Type </th>
        <th> Formula</th>
    </thead>
    <tbody>
        <tr *ngFor="let kpi of kpis">
            <td>{{kpi.name}}</td>
            <td>{{kpi.unit}}</td>
            <td>{{kpi.type}}</td>
            <td>{{kpi.formula}}</td>
        </tr>
    </tbody>
</table>
