<table class="table">
    <tr *ngFor="let actual of kpiActuals">
        <td>{{actual.kpi.name}}</td>
        <td>
            <input type="number" [(ngModel)]="actual.value" (change)="onChange(actual)" [disabled]="actual.kpi.type=='OUTPUT'">
        </td>
    </tr>
</table>